<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dbExpressions" type ="DbExpressions.Configuration.DbExpressionSettings, DbExpressions"/>
  </configSections>
  <dbExpressions defaultProvider="System.Data.SqlClient">    
    <queryTranslators>
      <queryTranslator providerName="System.Data.SqlClient" type ="DbExpressions.SqlQueryTranslator, DbExpressions"></queryTranslator>
    </queryTranslators>
  </dbExpressions>
</configuration>